.empty {
   text-align: center;
   padding-top: rem(15);

   &__img {
      max-width: rem(221);
      margin: 0 auto 20px;
      img {
         width: 100%;
         display: block;
      }
   }

   &__text {
      font-weight: 400;
      font-size: rem(20);
   }
}
