.heading {
   display: flex;
   justify-content: center;
   gap: rem(16);
   flex-wrap: wrap;

   &:not(:last-child) {
      margin-bottom: rem(20);
   }

   .search {
      min-width: rem(250);
   }

   &__settings {
      display: flex;
      align-items: start;
      column-gap: rem(16);
   }

   &__select {
      flex: 1 0 rem(150);
   }

   &__theme-state {
      background-color: var(--purple);
      border-radius: 5px;
      width: rem(38);
      height: rem(38);
      flex: 0 0 rem(38);
      padding: rem(6);
   }
}
